#timetimer-clock{
	max-height: 100%;
	height: -webkit-calc(100% - 110px);
	height: -moz-calc(100% - 110px);
	height: calc(100% - 110px);
	position: relative;
}

.digit{
	font-size: 7px;
	
}

.off{
	pointer-events: none;
}

#timetimer-startstop{

}

#timetimer-startstop.go{ background: #00AF88; }
#timetimer-startstop.stop{ background: #E3223D; }
	
.alarming{
	  
  -webkit-animation: alarmAnimation .5s infinite alternate ease-in-out;
  -moz-animation: alarmAnimation .5s infinite alternate ease-in-out;
  -o-animation: alarmAnimation .5s infinite alternate ease-in-out;
  animation: alarmAnimation .5s infinite alternate ease-in-out;
}

@-webkit-keyframes alarmAnimation {
from { background: #FFF; }
to { background: #E3223D; }
}
@-moz-keyframes alarmAnimation {
from { background: #FFF; }
to { background: #E3223D; }
}
@-o-keyframes alarmAnimation {
from { background: #FFF; }
to { background: #E3223D; }
}

#timetimer-audioalarm{
	display: none;
}
